.venv/
.idea/
.vscode/
*checkpoint*/
*logs*/
*/dist
*/build

cnn/train_games*
cnn/valid_games*
cnn/filtered_games*

run_adapter
run_adapter_resnet
run_adapter_resnet_extended

*.pyc
*.npy
*.out
*.sbatch
*.so
*.spec
*.pgn
*.model
*.tar